@font-face { font-family: Montserrat; src: url('Montserrat.ttf'); }
@font-face { font-family: Ethnocentric; src: url('Ethnocentric.ttf'); }
@font-face { font-family: Reey; src: url('Reey.otf'); }
@font-face { font-family: Pacifico; src: url('Pacifico.ttf'); }

:root {
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);

    --c1: rgb(3, 7, 18);
    --c2: rgb(218, 0, 0);

    --left-color: var(--c1);
    --right-color: var(--c2);
}

body {
    background-color: var(--dark);
    margin: 0px;
}

.side {
    display: grid;
    height: 100vh;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;

    text-align: center;
}

.side .title {
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    font-weight: 800;
    margin: 0px 10vw;
    width: 80vw;
}

.side .fancy {
    font-family: "Reey";
    font-size: 1em;
    line-height: 0.6em;
}

.side .fancy-alt {
    font-family: "Pacifico";
    font-size: 1em;
    line-height: 0.8em;
}

#left-side {
    background-color: var(--left-color);
    width: 60%;
    z-index: 2;
}

#left-side .title {
    color: white;
}

#left-side .fancy {
    color: var(--right-color);
}

#left-side .fancy-alt {
    color: var(--right-color);
}

#right-side {
    background-color: var(--right-color);
}

#right-side .title {
    color: var(--dark);
}

#right-side .fancy {
    color: white;
}

#right-side .fancy-alt {
    color: white;
}